In [5]:
import scrapper_functions

In [7]:
if __name__ == '__main__':
    
    # scrapper_functions.write_csv(['Client ID','Balance'], 'D:/synd_data/customer_data.csv', init = True)
    # scrapper_functions.write_csv(['Transaction ID','Transaction DateTime','Client ID','Bill Number','Amount','Comment'], 'D:/synd_data/loyality_data.csv', init = True)
    
    scrapper_functions.get_user_data(10000)

C:\Users\Sergei Fedotov\Desktop\Netology\Python\rs-web-scrapping\scrapper_functions.py:25: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 25 of the file C:\Users\Sergei Fedotov\Desktop\Netology\Python\rs-web-scrapping\scrapper_functions.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  analyzer_soup = BeautifulSoup(response_data)

Прочитан и занесен пользователь 10000

In [1]:
import pandas as pd

customer_dataset = pd.read_csv('D:/synd_data/customer_data.csv')
transactions_dataset = pd.read_csv('D:/synd_data/loyality_data.csv')

In [2]:
# customer_dataset.sort_values(by=['Client ID']).tail(50)
# transactions_dataset.sort_values(by=['Client ID']).tail(50)
customer_dataset.tail()
customer_dataset['Balance']

0          271,90 руб.
1        1 804,60 руб.
2          137,10 руб.
3        5 170,57 руб.
4        1 911,60 руб.
5          181,10 руб.
6          490,00 руб.
7          429,00 руб.
8          346,00 руб.
9          306,50 руб.
10         461,10 руб.
11         141,20 руб.
12         388,70 руб.
13       1 966,50 руб.
14         200,00 руб.
15         116,20 руб.
16          48,60 руб.
17       2 950,00 руб.
18         706,50 руб.
19       3 895,90 руб.
20       1 435,80 руб.
21           4,00 руб.
22         718,10 руб.
23         456,55 руб.
24          13,20 руб.
25          49,60 руб.
26          73,50 руб.
27         200,00 руб.
28         282,50 руб.
29         200,00 руб.
             ...
20324      117,12 руб.
20325      200,00 руб.
20326      200,00 руб.
20327        0,00 руб.
20328      200,00 руб.
20329      283,20 руб.
20330      762,80 руб.
20331      509,80 руб.
20332      323,30 руб.
20333    1 284,00 руб.
20334      228,30 руб.
20335        0,00 руб.
20336       37,30 руб.
20337      292,40 руб.
20338      849,30 руб.
20339        0,00 руб.
20340      538,50 руб.
20341      200,00 руб.
20342      200,00 руб.
20343      200,00 руб.
20344      140,70 руб.
20345      912,00 руб.
20346      150,40 руб.
20347      441,20 руб.
20348      237,90 руб.
20349      163,00 руб.
20350       77,10 руб.
20351      556,80 руб.
20352      200,00 руб.
20353      248,00 руб.
Name: Balance, Length: 20354, dtype: object

In [3]:
transactions_dataset['Amount'] = transactions_dataset['Amount'].apply(
    lambda x: float(str(x).replace(' ', '').split('р', 1)[0].replace(',', '.')))

In [6]:
transactions_dataset

,Transaction ID,Transaction DateTime,Client ID,Bill Number,Amount,Comment
0,10000000972169,19.05.2019 22:47:28,10354,01.00001.00001654.0001,79.0,доставка от 19.05.2019
1,10000000936889,09.03.2019 03:48:20,10354,01.00001.00001654.0001,120.5,начисление за 8.03.19
2,10000000923085,09.02.2019 22:47:35,10354,01.00001.00001654.0001,79.0,начисление за 9.02.2019
3,10000000842148,08.09.2018 22:53:34,10354,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
4,10000000834595,26.08.2018 03:35:36,10354,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
5,10000000831690,20.08.2018 00:55:50,10354,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
6,10000000821765,30.07.2018 00:08:28,10354,01.00001.00001654.0001,95.0,доставка от 29.07.18 1146984
7,10000000812062,10.07.2018 02:40:59,10354,01.00001.00001654.0001,115.0,доставка от 09.07.18 №1139197
8,10000000972169,19.05.2019 22:47:28,10424,01.00001.00001654.0001,79.0,доставка от 19.05.2019
9,10000000936889,09.03.2019 03:48:20,10424,01.00001.00001654.0001,120.5,начисление за 8.03.19
10,10000000923085,09.02.2019 22:47:35,10424,01.00001.00001654.0001,79.0,начисление за 9.02.2019
11,10000000842148,08.09.2018 22:53:34,10424,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
12,10000000834595,26.08.2018 03:35:36,10424,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
13,10000000831690,20.08.2018 00:55:50,10424,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
14,10000000821765,30.07.2018 00:08:28,10424,01.00001.00001654.0001,95.0,доставка от 29.07.18 1146984
15,10000000812062,10.07.2018 02:40:59,10424,01.00001.00001654.0001,115.0,доставка от 09.07.18 №1139197
16,10000000972169,19.05.2019 22:47:28,10534,01.00001.00001654.0001,79.0,доставка от 19.05.2019
17,10000000936889,09.03.2019 03:48:20,10534,01.00001.00001654.0001,120.5,начисление за 8.03.19
18,10000000923085,09.02.2019 22:47:35,10534,01.00001.00001654.0001,79.0,начисление за 9.02.2019
19,10000000842148,08.09.2018 22:53:34,10534,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
20,10000000834595,26.08.2018 03:35:36,10534,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
21,10000000831690,20.08.2018 00:55:50,10534,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
22,10000000821765,30.07.2018 00:08:28,10534,01.00001.00001654.0001,95.0,доставка от 29.07.18 1146984
23,10000000812062,10.07.2018 02:40:59,10534,01.00001.00001654.0001,115.0,доставка от 09.07.18 №1139197
24,10000000972169,19.05.2019 22:47:28,11703,01.00001.00001654.0001,79.0,доставка от 19.05.2019
25,10000000936889,09.03.2019 03:48:20,11703,01.00001.00001654.0001,120.5,начисление за 8.03.19
26,10000000923085,09.02.2019 22:47:35,11703,01.00001.00001654.0001,79.0,начисление за 9.02.2019
27,10000000842148,08.09.2018 22:53:34,11703,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
28,10000000834595,26.08.2018 03:35:36,11703,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
29,10000000831690,20.08.2018 00:55:50,11703,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
...,...,...,...,...,...,...
2914,10000000923085,09.02.2019 22:47:35,31447,01.00001.00001654.0001,79.0,начисление за 9.02.2019
2915,10000000842148,08.09.2018 22:53:34,31447,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
2916,10000000834595,26.08.2018 03:35:36,31447,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
2917,10000000831690,20.08.2018 00:55:50,31447,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
2918,10000000821765,30.07.2018 00:08:28,31447,01.00001.00001654.0001,95.0,доставка от 29.07.18 1146984
2919,10000000812062,10.07.2018 02:40:59,31447,01.00001.00001654.0001,115.0,доставка от 09.07.18 №1139197
2920,10000000972169,19.05.2019 22:47:28,31448,01.00001.00001654.0001,79.0,доставка от 19.05.2019
2921,10000000936889,09.03.2019 03:48:20,31448,01.00001.00001654.0001,120.5,начисление за 8.03.19
2922,10000000923085,09.02.2019 22:47:35,31448,01.00001.00001654.0001,79.0,начисление за 9.02.2019
2923,10000000842148,08.09.2018 22:53:34,31448,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
2924,10000000834595,26.08.2018 03:35:36,31448,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
2925,10000000831690,20.08.2018 00:55:50,31448,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
2926,10000000821765,30.07.2018 00:08:28,31448,01.00001.00001654.0001,95.0,доставка от 29.07.18 1146984
2927,10000000812062,10.07.2018 02:40:59,31448,01.00001.00001654.0001,115.0,доставка от 09.07.18 №1139197
2928,10000000972169,19.05.2019 22:47:28,31498,01.00001.00001654.0001,79.0,доставка от 19.05.2019
2929,10000000936889,09.03.2019 03:48:20,31498,01.00001.00001654.0001,120.5,начисление за 8.03.19
2930,10000000923085,09.02.2019 22:47:35,31498,01.00001.00001654.0001,79.0,начисление за 9.02.2019
2931,10000000842148,08.09.2018 22:53:34,31498,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
2932,10000000834595,26.08.2018 03:35:36,31498,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
2933,10000000831690,20.08.2018 00:55:50,31498,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
2934,10000000821765,30.07.2018 00:08:28,31498,01.00001.00001654.0001,95.0,доставка от 29.07.18 1146984
2935,10000000812062,10.07.2018 02:40:59,31498,01.00001.00001654.0001,115.0,доставка от 09.07.18 №1139197
2936,10000000972169,19.05.2019 22:47:28,31449,01.00001.00001654.0001,79.0,доставка от 19.05.2019
2937,10000000936889,09.03.2019 03:48:20,31449,01.00001.00001654.0001,120.5,начисление за 8.03.19
2938,10000000923085,09.02.2019 22:47:35,31449,01.00001.00001654.0001,79.0,начисление за 9.02.2019
2939,10000000842148,08.09.2018 22:53:34,31449,01.00001.00001654.0001,95.0,"Доставка, 7.09, №1163221"
2940,10000000834595,26.08.2018 03:35:36,31449,01.00001.00001654.0001,91.5,доставка от 25.08.18 №1157900
2941,10000000831690,20.08.2018 00:55:50,31449,01.00001.00001654.0001,95.0,"Доставка, 19.08, №1155118"
2942,10000000821765,30.07.2018 00:08:28,31449,01.00001.00001654.0001,95.0,доставка от 29.07.18 1146984
2943,10000000812062,10.07.2018 02:40:59,31449,01.00001.00001654.0001,115.0,доставка от 09.07.18 №1139197

In [5]:
print(transactions_dataset.describe())
print('----------------------------')
print(customer_dataset.describe()) 
print('----------------------------')
print(transactions_dataset.dtypes)
print(customer_dataset.dtypes)

       Transaction ID     Client ID       Amount
count    2.944000e+03   2944.000000  2944.000000
mean     1.000000e+13  24384.187500    96.250000
std      5.798081e+04   5715.304132    13.975562
min      1.000000e+13  10354.000000    79.000000
25%      1.000000e+13  18764.750000    88.375000
50%      1.000000e+13  24699.000000    95.000000
75%      1.000000e+13  29625.500000   100.000000
max      1.000000e+13  31498.000000   120.500000
----------------------------
       Client ID      Balance
count      20354        20353
unique     20354         8837
top        19965  200,00 руб.
freq           1         3974
----------------------------
Transaction ID            int64
Transaction DateTime     object
Client ID                 int64
Bill Number              object
Amount                  float64
Comment                  object
dtype: object
Client ID    object
Balance      object
dtype: object